@import url(https://fonts.googleapis.com/css?family=Poppins);

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: Poppins, "sans-serif";
}

header {
    display: flex;
    height: fit-content;
    width: 100%;
    padding: 1em;
    border-bottom: 1px solid white;
}

header nav {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    margin-right: 2em;
}

header a {
    color: white;
    text-decoration: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: auto;
}

.home-title-and-quote-container {
    margin-top: 3em;
    display: flex;
    padding: 1em;
}

.home-title {
    width: 70%;
    height: fit-content;
}

.home-title span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 4em;
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 3px;
}

.quote-container {
    width: 30%;
}

.quote-container p {
    color: white;
    letter-spacing: 1px;
}

.hero-container {
    max-width: 100vh;
    width: fit-content;
}

.hero-container img {
    height: auto;
    display: block;
    max-width: 100vh;
    transform: translateX(500px);
}

footer {
    background-color: blue;
    margin-top: auto;
}