@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sigmar&display=swap');

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: center;
    height: 8vh;
    width: 100%;
    padding: 1em;
}

header nav {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-right: 2em;
}

header nav a {
    font-size: 1.25em;
    color: white;
    text-decoration: none;
    position: relative;
}

header nav a span {
    display: inline-block;
    padding: 0;
    margin: 0;
}

header nav a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 0;
    height: 3px;
    background-color: white;
    transition: width 0.4s ease;
}

header nav a:hover::after {
    width: 100%;
}


main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.home-title span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 4em;
    font-size: 4em;
    font-weight: bold;
    letter-spacing: 3px;
}

.quote-container {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.quote-container p {
    width: 40%;
    color: white;
    letter-spacing: 1px;
}

.hero-container {
    margin-top: 3em;
    height: 86vh;
    max-width: 100vw;
    overflow: hidden;
    position: relative;
}

.hero-container img {
    margin-top: 7em;
    height: auto;
    display: block;
    max-width: 100%;
    position: relative;
    z-index: 1;
    left: 8%;
    animation: slideInRight 2s ease 0s 1 forwards;
}

.hero-container span {
    width: 100%;
    color: white;
    font-size: 16em;
    font-weight: bold;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    z-index: 0;
    animation: floatAndFadeIn 2s ease 0s 1 forwards;

    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);   
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}

.performance-title {
    margin-top: 10em;
    display: flex;
    justify-content: center;
}

.performance-title span{
    font-weight: bold;
    color: white;
    font-size: 6em;
}

.performance-card-container {
    padding: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.performance-card {
    height: 30vh;
    width: 20vw;
    color: white;
    padding: 1em;
    background-color: rgb(19, 19, 19);
    border-radius: 20px;

    mask-image: linear-gradient();
}

.performance-card span {
    font-weight: bold;
    font-size: 2em;
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    color: white;
}


@keyframes floatAndFadeIn {
    0% {
        left: 62%;
        top: 15%;
        opacity: 0.3;
    }
    100% {
        left: 64%;
        top: 20%;
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(60%);
        transform: scale(0.8);
        opacity: 0.75;
    }
    100% {
        transform: translateX(0);
        transform: scale(1);
        opacity: 1;
    }
}